---
export interface Props {
  narrow?: boolean;
}

const {narrow} = Astro.props;
---
<section class="section px-4">
<div class:list={["container px-5 py-24 mx-auto", `${narrow && `md:max-width-4xl`}`]}>
  <slot></slot>
</div>
</section>
<style>

</style>